<md-card class='text-card unknown-text' [ngClass]='{"linking": inLinkingMode}'>
  <md-card-header>
    <md-card-title>
      <i>Text from unknown number! {{text.from}}</i>
      <time-widget [time]='text.timestamp'></time-widget>
      <button md-icon-button
        (click)='linkUnknownTextToRacer(text)'
        [title]='"Link number to racer"'
        [disabled]='inLinkingMode'>
        <md-icon>link</md-icon>
      </button>
    </md-card-title>
  </md-card-header>
  <md-card class='linking-card' *ngIf='inLinkingMode'>
    <div class='master-detail'>
      <div class='racers-list master'>
        <md-list>
          <md-list-item
            *ngFor='let racer of racersList'
            (click)='pickRacer(racer)'>
            {{racer.name}}
            <i *ngIf='selectedRacer == racer'> - Selected</i>
          </md-list-item>
        </md-list>
      </div>
      <div class='detail'>
        <div *ngIf='selectedRacer'>
          <h3>Existing numbers for {{selectedRacer.name}}</h3>
          <table class='existing-racer-contacts'>
            <thead>
              <tr>
                <th>Number</th>
                <th>Notes</th>
                <th>Preferred</th>
              </tr>
              </thead>
            <tbody>
              <tr *ngFor='let contact of selectedRacer.phones'>
                <td>{{contact.number}}</td>
                <td>{{contact.notes}}</td>
                <td>
                  <md-checkbox [(ngModel)]='contact.preferred' [disabled]='true'>
                  </md-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
          <h3>New contact number details</h3>
          <div class='new-contact'>
            <md-input class='number-input' placeholder='Phone number' [(ngModel)]='newContact.number'></md-input>
            <md-input class='shrink' placeholder='Notes' [(ngModel)]='newContact.notes'></md-input>
            <md-checkbox [(ngModel)]='newContact.preferred'>Preferred</md-checkbox>
          </div>
        </div>
      </div>
    </div>
    <button md-raised-button color='primary' (click)='saveNumberToRacer()' [disabled]='!selectedRacer'>
      Save
    </button>
    <button md-raised-button color='warn' (click)='finishLinking()'>
      Cancel
    </button>
  </md-card>
  <md-card-content>
    {{text.body}}
  </md-card-content>
  <div class='text-read' *ngIf='text.readBy'>
    Read by
    <user-widget [user]='text.readBy.user'></user-widget>
    at
    <time-widget [time]='text.readBy.timestamp'></time-widget>
  </div>
  <md-card-actions>
    <button md-button (click)='replyToText()'>RESPOND</button>
    <button md-button (click)='markTextAsRead()' [disabled]='text.readBy'>
      Mark as read
    </button>
  </md-card-actions>
</md-card>
