.new-status-update {
  display: flex;
}

.info-table {
  flex: 1;
  padding: 24px;
}

.location-map {
  flex: 1;

  .sebm-google-map-container {
    height: 100%;
  }
}

.status-select-wrapper {
  display: flex;
  align-items: center;
}

.status-row {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.notes-input {
  resize: vertical;
}

md-select {
  width: 100%;
}

.new-update-card {
  background-color: #EEEEEE;
  padding: 0px;
}

.place-name {
  display: flex;

  .place-input {
    flex: 1;
  }
}
