.text-list-wrapper
  .filter-options
    span.filter-options-name Showing
    md-button-toggle-group(name='show', [(ngModel)]='readFilterOption', (change)='onFilterUpdate()')
      md-button-toggle(value='read') Read
      md-button-toggle(value='unread') Unread
      md-button-toggle(value='all', checked) All
  .no-texts-to-show(*ngIf='!displayedTexts.length')
    i No texts to show!
  .texts-list(*ngIf='displayedTexts.length')
    div(*ngIf='textsBeforeFirst')
      button(md-raised-button, color='primary', (click)='showMoreBefore()') Show more
      |  of {{textsBeforeFirst}} previous texts
    .text-card-wrapper(*ngFor='let text of displayedTexts')
      .text-send-wrapper(*ngIf='inTextSendMode && text == selectedText')
        text-send(
          [toRacer]='selectedText.racer',
          [toNumber]='selectedText.from',
          (onTextSendClose)='onTextSendClose()')
      normal-text.text-card.normal-text([text]='text',
        [display]='display',
        (onMakeRead)='updateText($event, "Marked text as read")',
        (onCreateReply)='replyToText($event)',
        (onAddCheckin)='checkInTeamFromText($event)',
        (onCreateUpdate)='createUpdateFromText($event)',
        *ngIf='isInboundText(text) && text.racer')
      app-text.text-card.normal-text([text]='text',
        [display]='display',
        (onMakeRead)='updateText($event, "Marked text as read")',
        (onCreateReply)='replyToText($event)',
        (onAddCheckin)='checkInTeamFromText($event)',
        (onCreateUpdate)='createUpdateFromText($event)',
        *ngIf='isAppText(text) && text.racer')
      sent-text.text-card.sent-text([text]='text',
        [display]='display',
        *ngIf='isOutboundText(text)')
      unknown-text.text-card.unknown-text([text]='text',
        [display]='display',
        (onMakeRead)='updateText($event, "Marked text as read")',
        (onCreateReply)='replyToText($event)',
        *ngIf='isInboundText(text) && !text.racer')
      non-native-text.text-card.normal-text([text]='text',
        [display]='display',
        (onAddCheckin)='checkInTeamFromText($event)',
        (onCreateUpdate)='createUpdateFromText($event)',
        *ngIf='isNonNativeText(text)')
      .new-update-wrapper(*ngIf='inCreateUpdateMode && text == selectedText && selectedTextTeam')
        new-update([team]='selectedTextTeam',
          [text]='text',
          (onStatusCreated)='onStatusCreated()')
    div(*ngIf='textsAfterLast')
      button(md-raised-button, color='primary', (click)='showMoreAfter()') Show more
      |  of {{textsAfterLast}} remaining texts
