<div class="texts-list">
  <div class='text-card-wrapper' *ngFor="let text of texts | orderBy: '-timestamp'">
    <md-card class='text-card'>
      <md-card-header>
        <md-card-title>
          <div class='inline-text-title' *ngIf="display.oneline">
            <span>({{text.from}})</span>
            -
            <span *ngIf="text.racer">{{text.racer.name}}</span>
            -
            <span *ngIf="text.team">{{text.team.name}}</span>
          </div>
          <div>{{text.getPrettyTimestamp()}}</div>
          <div class='text-title' *ngIf='!display.oneline'>
            <div *ngIf="display.number">{{text.from}}</div>
            <div *ngIf="display.time">{{text.getPrettyTimestamp()}}</div>
          </div>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        {{text.body}}
      </md-card-content>
      <md-card-actions>
        <button md-button>RESPOND</button>
        <md-checkbox [(ngModel)]='text.read' (change)='markTextAsRead(text)'>
          Read
        </md-checkbox>
        <button md-button (click)="checkInTeamFromText(text)">Add Check In</button>
        <button md-button (click)="createUpdateFromText(text)">Create Team Update</button>
      </md-card-actions>
    </md-card>
    <div class='new-update-wrapper' *ngIf='inCreateUpdateMode && text == selectedText'>
      <new-update [team]='text.team' (onStatusCreated)='onStatusCreated()'></new-update>
    </div>
  </div>
</div>
