<div class='public-map-container'>
  <sebm-google-map
    [latitude]='default.lat'
    [longitude]='default.lng'
    [zoom]='default.zoom'>
    <sebm-google-map-marker
      [latitude]="hostel.lat"
      [longitude]="hostel.lng"
      [iconUrl]='hostel.iconUrl'>
    </sebm-google-map-marker>
    <sebm-google-map-marker *ngFor='let team of teams | teamHasUpdate '
      [latitude]='team.getLastUpdate().location.latitude'
      [longitude]='team.getLastUpdate().location.longitude'
      [title]='team.name'>
      <sebm-google-map-info-window>
        <table>
          <tr>
            <th>Team name:</th>
            <td>
              {{team.name}}
            </td>
          </tr>
          <tr>
            <th>Racers:</th>
            <td>
              {{team.getPrettyRacersList()}}
            </td>
          </tr>
          <tr>
            <th>Current place:</th>
            <td>
              {{team.getLastUpdate().location.place}}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button md-button (click)='goToTeamProgress(team)'>See Team Progress</button>
            </td>
          </tr>
        </table>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
  <md-card class='public-map-guide'>
    <md-card-title>
      <img class='race-logo' src='/assets/img/race2_prague.jpg'>
    </md-card-title>
    <md-card-content>
      <h3>Teams:</h3>
      <md-list class='teams-list'>
        <md-list-item *ngFor='let team of teams'>
          <h3 md-line>{{team.name}}</h3>
          <p md-line>{{team.getPrettyRacersList()}}</p>
          <p md-line>{{team.getLastPlaceName()}}</p>
          <button md-button (click)='goToTeamProgress(team)'>Progress</button>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
