.sebm-google-map-container {
  height: 100%;
}

.public-map-guide {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 350px;

  .race-logo {
    height: 50px;
  }
}

.public-map-container {
  flex: 1;
  position: relative;
}

.teams-list {
  max-height: 400px;
  overflow-y: scroll;
}
