.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;

    md-card {
      margin: 5px;
    }
}

.texts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-card {
  width: 300px;  
  flex: 1;
}

.texts-by-team {
  display: flex;

  .teams-list {
    width: 300px;
  }

  .texts-by-team-list {
    flex: 1;
  }
}
.texts-by-racer {
  display: flex;

  .racers-list {
    width: 300px;
  }

  .texts-by-racer-list {
    flex: 1;
  }
}
