.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;

    md-card {
      margin: 5px;
    }
}

.texts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-card {
  width: 300px;  
  flex: 1;
}
