.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;

    md-card {
      margin: 5px;
    }
}

md-tab-group {
  flex: 1;
  .md-tab-body-wrapper {
    //flex: 1;
  }
}

/deep/ .md-tab-body.md-active {
  display:flex !important;
  flex-direction: column;
}

/deep/ .md-list-item:hover {
  background-color: lightgrey;
}

/deep/ .md-list-item.selected {
  background-color: #EEEEEE;
}

all-texts {
  display: flex;
  flex: 1;
}

team-texts {
  display: flex;
  flex: 1;
}

racer-texts {
  display: flex;
  flex: 1;
}
