.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;

    md-card {
      margin: 5px;
    }
}

md-tab-group {
  flex: 1;
  .md-tab-body-wrapper {
    //flex: 1;
  }
}

/deep/ .md-tab-body.md-active {
  display:flex !important;
  flex-direction: column;
}

.all-texts {
  margin: 20px;
  
  .text-card {
    width: 300px;
  }
}

.texts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-card {
  flex: 1;
  margin: 5px;
}

/deep/ .md-list-item:hover {
  background-color: lightgrey;
}

/deep/ .md-list-item.selected {
  background-color: #EEEEEE;
}

team-texts {
  display: flex;
}


.texts-by-racer {
  display: flex;

  .racers-list {
    width: 300px;
  }

  .texts-by-racer-list {
    flex: 1;
  }
}
