.set-password-wrapper
  md-card.set-password-card
    md-card-title
      | Temporary Password Used
    md-card-subtitle
      | Please enter a new replacement password
    md-card-content
      form.form([formGroup]='form', (ngSubmit)='onSubmit()')
        md-input-container
          input(md-input, formControlName='password', required, placeholder='Password', type='password')
        md-input-container
          input(md-input, formControlName='passwordAgain', required, placeholder='Password (again)', type='password')
        p.login-error(*ngIf='passwordError') {{getPasswordErrorMessage()}}
        |  
        button(md-raised-button, color='primary', type='submit') Set Password

