.set-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-password-card {
  margin: 50px;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-error {
  color: red;
  font-weight: bold;
}
