.set-password-wrapper
  mat-card.set-password-card
    mat-card-title
      | Temporary Password Used
    mat-card-subtitle
      | Please enter a new replacement password
    mat-card-content
      form.form([formGroup]='form', (ngSubmit)='onSubmit()')
        mat-input-container
          input(mdInput, formControlName='password', required, placeholder='Password', type='password')
        mat-input-container
          input(mdInput, formControlName='passwordAgain', required, placeholder='Password (again)', type='password')
        p.login-error(*ngIf='passwordError') {{getPasswordErrorMessage()}}
        |  
        button(mat-raised-button, color='primary', type='submit') Set Password

