h1 Debug Things
div
  h2 Email
  div
    md-input-container
      input(md-input, type='email', [(ngModel)]='email.to', placeholder='To:')
    md-input-container
      input(md-input, [(ngModel)]='email.subject', placeholder='Re:')
    md-input-container
      textarea(md-input, [(ngModel)]='email.body', placeholder='Body:')
    button(md-raised-button, color='primary', (click)='sendEmail()') Send
  h2 Give everyone pretty colours!
    button(md-raised-button, color='primary', (click)='prettyColors()') Prettify!
    table
      thead
        tr
          td Id
          td Name
          td Color
      tbody
        tr(*ngFor='let team of teams | orderBy: "+id"')
          td {{team.id}}
          td {{team.name}}
          td
            input(type='color', [(ngModel)]='team.color')
  h2 Fetch everything from twilio!
    button(md-raised-button, color='primary', (click)='twilioFetch()') Fetch!
    p.twilio {{allTwilioTexts}}
