.text-send
  md-card
    md-card-content
      div(*ngIf='isSending')
        i Sending
      .text-recipients-list
        md-card(*ngFor='let recipient of recipients')
          md-card-content
          | {{recipient.name}}
          | {{recipient.numNote}}
          phone-widget([number]='recipient.number')
        .next-recipient
          md-input-container
            input(md-input, [(ngModel)]='newRecipient', (input)='filterRecipients()', placeholder='Recipients')
          md-card#filter-recipients-list.filter-recipients-list
            md-list
              md-list-item(*ngFor='let recipient of matchingRecipients', (click)='addRecipient(recipient)')
              | {{recipient.name}}
              | {{recipient.numNote}}
              phone-widget([number]='recipient.number')
      table(style='width: 100%')
        tr
          th Message:
        tr
          td
            md-input-container
              textarea(md-input, style='width: 100%', [(ngModel)]='message')
      |  
      button(md-raised-button, color='accent', (click)='sendNewText()') Send
      |  
      button(md-raised-button, (click)='cancelNewText()') Cancel
