<div class='text-send'>
  <md-card>
    <md-card-content>
      <div *ngIf='isSending'>
        <i>Sending</i>
      </div>
      <div class='text-recipients-list'>
        <md-card *ngFor='let recipient of recipients'>
          <md-card-content>
            {{recipient.name}} {{recipient.numNote}} ({{recipient.number}})
          </md-card-content>
        </md-card>
        <div class='next-recipient'>
          <md-input [(ngModel)]='newRecipient' (input)='filterRecipients()' placeholder='Recipients'></md-input>
          <md-card id='filter-recipients-list' class='filter-recipients-list'>
            <md-list>
              <md-list-item *ngFor='let recipient of matchingRecipients' (click)='addRecipient(recipient)'>
                {{recipient.name}} {{recipient.numNote}} ({{recipient.number}})
              </md-list-item>
            </md-list>
          </md-card>
        </div>
      </div>
      <table style='width: 100%'>
        <tr>
          <th>Message:</th>
        </tr>
        <tr>
          <td><md-textarea style='width: 100%'[(ngModel)]='message'></md-textarea></td>
        </tr>
      </table>
      <button md-raised-button color='accent' (click)='sendNewText()'>Send</button>
      <button md-raised-button (click)='cancelNewText()'>Cancel</button>
    </md-card-content>
  </md-card>
</div>
