<md-content>
  <md-toolbar class='toolbar not-logged-in' [ngClass]='toolbarClass()' *ngIf='!loggedIn()'>
      <a md-button [routerLink]=" ['/'] ">{{ name }}</a>
      <span class='fill'></span>
      <a *ngIf='!loggedIn()' md-button [routerLink]=" ['./login'] " routerLinkActive='active'>
        Login
      </a>
      <a *ngIf='!loggedIn()' md-button [routerLink]=" ['./register'] " routerLinkActive='active'>
        Register 
      </a>
  </md-toolbar>
  <md-toolbar class='toolbar logged-in' [ngClass]='toolbarClass()' *ngIf='loggedIn()'>
      <a md-button [routerLink]=" ['/'] ">{{ name }}</a>
      <a *ngIf='loggedIn()' md-button [routerLink]=" ['./safetyteam/user/me'] " routerLinkActive='active'>
        {{getUsername()}}
      </a>
      <a *ngIf='loggedIn()' md-button [routerLink]=" ['./safetyteam/user/logout'] " routerLinkActive='active'>
        Log out
      </a>
      <span class="fill">
        <div class='text-received-flash' *ngIf='getNumberUnreadTexts()'>
          <a [routerLink]="['safetyteam', 'texts', 'all']" [queryParams]="{show: 'unread'}" md-button>
            {{getUnreadTextsNotification()}}
          </a>
        </div>
      </span>
      <a md-button [routerLink]=" ['/safetyteam/texts'] " routerLinkActive='active'>
        Texts
      </a>
      <a md-button [routerLink]=" ['/safetyteam/map'] " routerLinkActive='active'>
        Map
      </a>
      <a md-button [routerLink]=" ['/safetyteam/dashboard'] " routerLinkActive='active'>
        Dashboard
      </a>
      <a md-button [routerLink]=" ['/safetyteam/racers'] " routerLinkActive='active'>
        Racers
      </a>
      <a md-button [routerLink]=" ['/safetyteam/teams'] " routerLinkActive='active'>
        Teams
      </a>
  </md-toolbar>

  <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

  <main>
    <router-outlet></router-outlet>
  </main>

</md-content>
