<md-content>
  <md-toolbar class='toolbar' [ngClass]='toolbarClass()'>
      <span>{{ name }}</span>
      <span class="fill">
        <div class='text-received-flash' *ngIf='getNumberUnreadTexts()'>
          <a [routerLink]="['texts', 'all', 'unread']" md-button>
            {{getUnreadTextsNotification()}}
          </a>
        </div>
      </span>
      <a md-button [routerLink]=" ['./texts'] " routerLinkActive='active'>
        Texts
      </a>
      <a md-button [routerLink]=" ['./map'] " routerLinkActive='active'>
        Map
      </a>
      <a md-button [routerLink]=" ['./dashboard'] " routerLinkActive='active'>
        Dashboard
      </a>
      <a md-button [routerLink]=" ['./racers'] " routerLinkActive='active'>
        Racers
      </a>
      <a md-button [routerLink]=" ['./teams'] " routerLinkActive='active'>
        Teams
      </a>
  </md-toolbar>

  <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

  <main>
    <router-outlet></router-outlet>
  </main>

</md-content>
