<div *ngIf="team">
  <h2>{{team.name}} details!</h2>
  <div>
    <label>id: </label>{{team.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="team.name" placeholder="name" />
  </div>
  <div>
    <label>Status: </label> {{ team.getCurrentStatusString() }}
  </div>
  <label>Updates {{ team.statusUpdates.length }}</label>
  <button (click)="createStatusUpdate()">New update</button>
  <div *ngIf="inNewStatusMode">
    <label>Notes: </label>
    <input [(ngModel)]="newStatusObj.notes" placeholder="notes" />
    <label>name: </label>
    <input [(ngModel)]="newStatusObj.location.place" placeholder="place" />
    <select [(ngModel)]="newStatusObj.status">
      <option *ngFor="let item of statusEnum | keys" [value]="item.key">{{item.value}}</option>
    </select>
    <button (click)="saveNewStatus()">Save update</button>
  </div>
  <ul class='team-updates'>
    <li *ngFor='let update of team.statusUpdates'>
      <div><label>id: </label>{{update.id}}</div>
      <div><label>Notes: </label>{{update.notes}}</div>
    </li>
  </ul>
  <label>Racers</label>
  <ul class='team-racers'>
    <li *ngFor='let racer of team.racers'>
      <div><label>id: </label>{{racer.id}}</div>
      <div><label>Name: </label>{{racer.name}}</div>
      <button (click)="gotoRacerDetail(racer)">View Details</button>
    </li>
  </ul>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
