.phone-widget(*ngIf='!number')
  span.no-phone No phone number!
.phone-widget(*ngIf='number && !edit')
  span.country-code +{{number.countryCode}}
  span.number {{number.nationalNumber}}
.phone-widget.edit(*ngIf='number && edit')
  md-input-container.country-code
    input(md-input, [(ngModel)]='number.countryCode', width='3')
    span(md-prefix) +
  md-input-container.national-number
    input(md-input, [(ngModel)]='number.nationalNumber')
