extends basic.pug

block title
  h1 #{APP_NAME} Password Reset

block content
  p Your 
    a(href=APP_URL) #{APP_NAME} 
    | password has been temporarily reset to:
  div
    b(style='margin-left: 5px') #{PASSWORD}
  p When you log in, you will have to set a new password
