.add-non-native-text-component-wrapper
  mat-card
    h1 Add non-native text
    table
      tr
        th To
        td
          phone-widget([number]='newText.to', edit='true')
      tr
        th From
        td
          phone-widget([number]='newText.from', edit='true')
      tr
        th Text Direction
        td
          span.direction {{getTextDirection()}}
          button(mat-icon-button, (click)='toggleDirection()')
            mat-icon swap_horiz
      tr
        th Timestamp
        td
          mat-input-container
            input(mdInput, type='datetime-local', [(ngModel)]='newText.timestamp')
      tr
        th Text
        td
          mat-input-container.full-width
            textarea.text-body(mdInput, [(ngModel)]='newText.body')
    button(mat-raised-button, color='primary', (click)='createNonNativeText()') Add 
