.user-widget(*ngIf='userId && loaded', [title]='getTooltip()')  {{user.name}}
.user-widget(*ngIf='userId && !loaded && !error') Loading {{userId}}...
.user-widget(*ngIf='!userId && !error') No User
.user-widget.error(*ngIf='error', title='Error loading {{userId}} - {{error.status}}') {{userId}}
