.mat-content
  .top-bar
    a(mat-button, [routerLink]=" ['/'] ") {{ name }}
    span.fill
    a(mat-button, [routerLink]=" ['/login'] ", routerLinkActive='active')
      .mat-list-item
        .mat-list-text  Login
  main
    router-outlet
