.md-content
  .top-bar
    a(md-button, [routerLink]=" ['/'] ") {{ name }}
    span.fill
    a(md-button, [routerLink]=" ['/login'] ", routerLinkActive='active')
      .md-list-item
        .md-list-text  Login
  main
    router-outlet
