mat-card.text-card.text-card-normal([ngClass]='{unread: !text.readBy}')
  mat-card-header
    mat-card-title
      .inline-text-title
        span
          phone-widget([number]='text.from')
        |  - 
        a(*ngIf='textRacer', [routerLink]="['/safetyteam', 'racers', textRacer.id]") {{textRacer.name}}
        |  - 
        a(*ngIf='textTeam', [routerLink]="['/safetyteam', 'teams', textTeam.id]") ({{textTeam.id}}) {{textTeam.name}}
      time-widget([time]='text.timestamp')
  mat-card-content
    .text-body  {{text.body}}
  .text-read(*ngIf='text.readBy')
    | Read by
    user-widget([user]='text.readBy.user')
    |  at
    time-widget([time]='text.readBy.timestamp')
  mat-card-actions
    button(mat-icon-button, (click)='replyToText()', [title]='"Reply to text"')
      mat-icon reply
    |  
    button(mat-icon-button, (click)='markTextAsRead()', [disabled]='text.readBy', [title]='"Mark text as read"')
      mat-icon done
    |  
    button(mat-icon-button, [disabled]='!canCheckinFromText()', (click)='addCheckIn()', [title]='"Add checkin for team"')
      mat-icon update
    |  
    button(mat-icon-button, [disabled]='!canUpdateFromText()', (click)='createUpdate()', [title]='"Create team update from this text"')
      mat-icon add

