<md-card class='text-card text-card-normal'>
  <md-card-header>
    <md-card-title>
      <div class='inline-text-title' *ngIf="display.oneline">
        <span>({{text.from}})</span>
        -
        <span *ngIf="text.racer">{{text.racer.name}}</span>
        -
        <span *ngIf="text.team">{{text.team.name}}</span>
        <span *ngIf='!text.team' class='error'>ERROR: No Team for Racer!</span>
      </div>
      <time-widget [time]='text.timestamp'></time-widget>
      <div class='text-title' *ngIf='!display.oneline'>
        <div *ngIf="display.number">{{text.from}}</div>
        <div *ngIf="display.time">{{text.getPrettyTimestamp()}}</div>
      </div>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <div class='text-body'>
      {{text.body}}
    </div>
  </md-card-content>
  <div class='text-read' *ngIf='text.readBy'>
    Read by
    <user-widget [user]='text.readBy.user'></user-widget>
    at
    <time-widget [time]='text.readBy.timestamp'></time-widget>
  </div>
  <md-card-actions>
    <button md-icon-button (click)='replyToText()' [title]='"Reply to text"'>
      <md-icon>reply</md-icon>
    </button>
    <button md-icon-button (click)='markTextAsRead()' [disabled]='text.readBy' [title]='"Mark text as read"'>
      <md-icon>done</md-icon>
    </button>
    <button md-icon-button [disabled]='!canCheckinFromText(text)' (click)="addCheckIn()" [title]='"Add checkin for team"'>
      <md-icon>update</md-icon>
    </button>
    <button md-icon-button [disabled]='!canUpdateFromText(text)' (click)="createUpdate()" [title]='"Create team update from this text"'>
      <md-icon>add</md-icon>
    </button>
  </md-card-actions>
</md-card>
