mat-card.text-card.text-card-normal([ngClass]='{unread: !text.readBy}')
  mat-card-header
    mat-card-title
      .inline-text-title(*ngIf='display.oneline')
        span
          phone-widget([number]='text.from')
        |  - 
        span(*ngIf='textRacer') {{textRacer.name}}
        span.error(*ngIf='!textRacer') No Racer!
        |  - 
        span(*ngIf='textTeam') ({{textTeam.id}}) {{textTeam.name}}
        span.error(*ngIf='!textTeam') No Team!
      .added-by(*ngIf='text.addedBy')
        | Added by
        user-widget([user]='text.addedBy.user')
        | at 
        time-widget([time]='text.addedBy.timestamp')
      | Text timestamp
      time-widget([time]='text.timestamp')
      .text-title(*ngIf='!display.oneline')
        div(*ngIf='display.number')
          phone-widget([number]='text.from')
        div(*ngIf='display.time') {{text.getPrettyTimestamp()}}
  mat-card-content
    .text-body  {{text.body}}
  .text-read(*ngIf='text.readBy')
    | Read by
    user-widget([user]='text.readBy.user')
    |  at
    time-widget([time]='text.readBy.timestamp')
  mat-card-actions
    button(mat-icon-button, [disabled]='!canCheckinFromText()', (click)='addCheckIn()', [title]='"Add checkin for team"')
      mat-icon update
    |  
    button(mat-icon-button, [disabled]='!canUpdateFromText()', (click)='createUpdate()', [title]='"Create team update from this text"')
      mat-icon add

