<div class='location-widget' [title]='getTooltip()'>
  <div class='if-gps' *ngIf='ifGPS()'>
    <mat-icon>gps_fixed</mat-icon>
  </div>
  <div class='if-network' *ngIf='ifNetwork()'>
    <mat-icon>network_cell</mat-icon>
  </div>
  <div class='if-manual' *ngIf='ifManual()'>
    <mat-icon>pin_drop</mat-icon>
  </div>
  <div class='place' *ngIf='!hidePlace'>
    {{location.place}}
  </div>
  <div class='co-ords' *ngIf='showCoords'>
    <span class='latitude'>{{location.latitude}}</span>
    <span class='longitude'>{{location.longitude}}</span>
    <span class='accuracy'>{{location.accuracy}}</span>
  </div>
</div>
