.selected {
  background-color: #EEE !important;
}
.master-detail.teams {
  flex: 1;
}

.team-number {
  margin: 0;
  background-color: #EEE;
  text-align: center;
  border-radius: 100%;
  border: 2px solid black;
}

.master-detail {
  display: flex;
  .master {
    width: 300px;
    overflow-y: scroll;
    background-color: white;
  }

  .detail {
    flex: 1;
    overflow-y: scroll;
  }
}
