<h2>My Teams</h2>
<div>
  <label>Team name:</label> <input #teamName />
  <button (click)="add(teamName.value); teamName.value=''">
    Add
  </button>
</div>
<ul class="teams">
  <li *ngFor="let team of teams" (click)="onSelect(team)"
      [class.selected]="team === selectedTeam">
    <span class="badge">{{team.id}}</span>
    <span>{{team.name}}</span>
    <button class="delete"
      (click)="delete(team); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedTeam">
  <h2>
    {{selectedTeam.name | uppercase}} is my team
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
