<h1>My Teams</h1>
<div class='teams master-detail'>
  <div class='master'>
    <md-list>
      <md-list-item *ngFor='let team of teams' (click)='onSelect(team)'>
        <h3 md-line>{{team.name}}</h3>
      </md-list-item>
    </md-list>
  </div>
  <div class='detail'>
    <div *ngIf="selectedTeam">
      <h2>
        {{selectedTeam.name | uppercase}} is my team
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>
</div>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
