.teams.master-detail
  .master
    md-nav-list
      a(md-list-item, *ngFor='let team of teams', routerLink="{{getTeamLink(team)}}" routerLinkActive='selected')
        h3(md-line) {{team.name}}
        p(md-line) {{team.getPrettyRacersList()}}
    |  
    button(md-fab, (click)='createTeam()')
      md-icon.md-24 add
  .detail
    router-outlet
