<div class='racer-card' *ngIf="racer">
  <md-card>
    <md-card-title>
      <h3 *ngIf='!inEditMode'>{{racer.name}}</h3>
      <md-input-container *ngIf='inEditMode'>
        <input md-input placeholder='Racer name' [(ngModel)]='racer.name'>
      </md-input-container>
    </md-card-title>
    <md-card-content>
      <table>
        <tr>
          <th>Nationality:</th>
          <td>
            <p *ngIf='!inEditMode'>{{racer.nationality}}</p>
            <md-input-container *ngIf='inEditMode'> 
              <input md-input placeholder='Nationality' [(ngModel)]='racer.nationality'>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td>
            <div class='racer-phone-numbers-list'>
              <div *ngFor='let contact of racer.phones'>
                <div *ngIf='!inEditMode' class='contact-view contact-row'>
                  <p>{{contact.number}}</p>
                  <p><i>Notes:</i> {{contact.notes || "No notes"}}</p>
                  <md-checkbox [(ngModel)]='contact.preferred' disabled>Preferred</md-checkbox>
                </div>
                <div *ngIf='inEditMode' class='contact-edit contact-row'>
                  <md-input-container>
                    <input md-input placeholder='Phone number' [(ngModel)]='contact.number'>
                  </md-input-container>
                  <md-input-container>
                    <input md-input placeholder='Notes' [(ngModel)]='contact.notes'>
                  </md-input-container>
                  <md-checkbox [(ngModel)]='contact.preferred'>Preferred</md-checkbox>
                  <button md-mini-fab color='warn' (click)='removeContactFromRacer(contact)'>
                    <md-icon class='md-24'>remove</md-icon>
                  </button>
                </div>
              </div>
            </div>
            <button md-mini-fab *ngIf='inEditMode' (click)='addNumberToRacer()'>
              <md-icon class='md-24'>add</md-icon>
            </button>
          </td>
        </tr>
      </table>
      <button md-raised-button color="primary" (click)="enterEditMode()" *ngIf="!inEditMode">Edit</button>
      <button md-raised-button color="primary" (click)="exitEditMode()" *ngIf="inEditMode">Finish</button>
      <button md-raised-button color="warn" (click)="deleteRacer()">Delete</button>
      <button md-raised-button color="primary" (click)="goToRacerTexts(racer)">See Texts</button>
    </md-card-content>
  </md-card>
</div>
