.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;

    md-card {
      margin: 5px;
    }
}
.sample-content{
    flex: 1;
}

.status-card-container {
  display: flex;
  flex-wrap: wrap;

  dashboard-card {
    max-width: 400px;
    min-width: 300px;
    flex: 1;
    margin: 10px;
  }

}

