<div class='dashboard-container'>
  <div class='filter-options'>
    <span class='filter-options-name'>Showing</span>
    <md-button-toggle-group name='show' [(ngModel)]='teamsFilterOption' (change)='onFilterUpdate()'>
      <md-button-toggle value='uk'>UK</md-button-toggle>
      <md-button-toggle value='europe'>Europe</md-button-toggle>
      <md-button-toggle value='all' checked>All</md-button-toggle>
    </md-button-toggle-group>
    <span class='filter-options-name'>Sort by</span>
    <md-radio-group [(ngModel)]='sortOption' (change)='onSortUpdate()'>
      <md-radio-button [value]='sortOptions.UPDATE_TIME'>Name</md-radio-button>
      <md-radio-button [value]='sortOptions.TEAM_NAME'>Update Time</md-radio-button>
    </md-radio-group>
    <button md-icon-button (click)='toggleOrder()'>
      <md-icon *ngIf='sortAscending'>arrow_upward</md-icon>
      <md-icon *ngIf='!sortAscending'>arrow_downward</md-icon>
    </button>
  </div>
  <div class='card-container'>
    <div class='status-card-container'>
      <dashboard-card *ngFor="let team of filteredTeams | orderBy: ordering" [team]='team'></dashboard-card>
    </div>
  </div>
</div>
