<div class='card-container'>
  <h1 x-large class='sample-content'>Race2 Dashboard</h1>

  <div class='status-card-container'>
    <md-card *ngFor="let team of teams" [ngClass]='getCardClass(team)'>
      <md-card-header>
        <img md-card-avatar src="http://www.eastcottvets.co.uk/uploads/Animals/gingerkitten.jpg">
        <md-card-title>
          <b>{{team.name}}</b>
          <div class='safety-team-flag'>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Flag_of_Europe.svg" *ngIf="team.inEurope">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" *ngIf="!team.inEurope">
          </div>
        </md-card-title>
        <md-card-subtitle>
          <div>
            <i>Last check-in 2 hours, 5 minutes ago</i>
          </div>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        Near Dusseldorf
      </md-card-content>
      <md-card-actions>
        <button md-button>CONTACT</button>
        <button md-button>MESSAGE HISTORY</button>
        <button md-button>UPDATE STATUS</button>
      </md-card-actions>
    </md-card>
  <div>
<div>
