.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .filter-options {

  }

  .card-container{
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .loading {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    md-card {
      margin: 5px;
    }
  }

}

.filter-options {
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  
  .filter-options-name {
    margin: 5px;
    display: flex;
    align-items: center;
  }
}


.sample-content{
    flex: 1;
}

.status-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;

  dashboard-card {
    margin: 10px;
  }

}

