.team-list {
  display: flex;
  flex-direction: column;
}

.team {
  background-color: aliceblue;
}

.racer-list {
  display: flex;
  flex-direction: column;
}

.racer {
  background-color: yellow;
}
