md-card
  h3 Import
  |  
  input(type='file', (change)='fileChangeEvent($event)')
  button(md-raised-button, *ngIf='parsedData && !parsedTeams', (click)='process()') Process
  table(*ngIf='parsedData && !parsedTeams')
    thead
      tr
        th Team Number
        th Team Name
        th Affiliation
        th Racer Name
        th Racer ID
        th Mobile
    tbody
      tr(*ngFor='let row of parsedData')
        td {{row.teamNumber}}
        td {{row.teamName}}
        td {{row.affiliation}}
        td {{row.racerName}}
        td {{row.racerId}}
        td
          phone-widget([number]='row.mobile')
  .team-list
    md-card.team(*ngFor='let team of parsedTeams')
      md-card-header
        div(md-card-avatar)
          h1.team-number {{team.id}}
        md-card-title {{team.name}}
        md-card-subtitle
          span.label Affiliation:
          | {{team.affiliation}}
      md-card-content
        .racer-list
          md-card.racer(*ngFor='let racer of team.racers')
            .racer-detail
              span.label Name
              span.value {{racer.name}}
            .racer-detail
              span.label ID
              span.value {{racer.id}}
            .racer-detail
              span.label Email
              span.value {{racer.email}}
            .racer-detail
              span.label Phone
              span.value
                .contact-number(*ngFor='let contact of racer.phones')
                  phone-widget([number]='contact.number')
            .racer-detail
              span.label Creation status
              span.value
                md-icon(*ngIf='isRacerCreated(racer.id)') done
                md-icon(*ngIf='!isRacerCreated(racer.id)') cancel
      md-card-actions
        button(md-raised-button, color='primary', [disabled]='isTeamCreated(team)', (click)='createTeam(team)') Create
