.text-widget(*ngIf='text')
  table
    tr
      th From
      td
        p(*ngIf='textRacer') {{textRacer.name}}
        phone-widget([number]='text.from') 
    tr
      th At
      td
        time-widget([time]='text.timestamp')
    tr
      th Body
      td {{text.body}}
.text-widget(*ngIf='!text && !error') Loading...
.text-widget.error(*ngIf='error') Error! {{error.status}}
