<div class='team-card' *ngIf="team">
  <md-card>
    <md-card-title>
      <h3>{{team.name}}</h3>
    </md-card-title>
    <md-card-content>
      <label>Status updates</label>
      <md-list>
        <md-list-item *ngFor="let update of team.statusUpdates | orderBy: '-timestamp' ">
          <div md-line>{{update.getPrettyTimestamp()}}</div>
          <div md-line>{{update.prettyStatusName()}}</div>
          <div md-line>{{update.location.place}}</div>
        </md-list-item>
      </md-list>
      <label>Racers</label>
      <md-list>
        <md-list-item *ngFor="let racer of team.racers | orderBy: '+name' ">
          <div md-line>{{racer.name}}</div>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
