<div class='team-card' *ngIf="team">
  <md-card>
    <md-card-title>
      <h3 *ngIf="!inEditMode">{{team.name}}</h3>
      <md-input *ngIf="inEditMode" placeholder="Team name" [(ngModel)]="team.name"></md-input>
    </md-card-title>
    <md-card-content>
      <md-slide-toggle [(ngModel)]="team.inEurope" (change)='updateTeam()'>In Europe?</md-slide-toggle>

      <label>Status updates</label>
      <button md-mini-fab color='accent' (click)='createNewUpdate()' *ngIf="!inNewUpdateMode">
        <md-icon class='md-24'>add</md-icon>
      </button>
      <div class='status-update-list-wrapper'>
        <md-list>
          <md-list-item *ngFor="let update of team.statusUpdates | orderBy: '-timestamp' ">
            <time-widget md-line [time]='update.timestamp'></time-widget>
            <div md-line>
              <span><i>Status:</i> {{update.prettyStatusName()}}</span>
              <location-widget [location]='update.location'></location-widget>
            </div>
            <div md-line><i>Notes:</i> {{update.notes}}</div>
          </md-list-item>
        </md-list>
      </div>
      <new-update [team]='team' (onStatusCreated)='onStatusCreated()' *ngIf='inNewUpdateMode'></new-update>
      <label>Racers</label>
      <div class='team-racers-list'>
        <md-card *ngFor="let racer of team.racers | orderBy: '+name' ">
          <md-card-content>{{racer.name}}</md-card-content>
          <button *ngIf="inEditMode" md-icon-button (click)="removeRacer(racer)" color='warn'>
            <md-icon class="md-24">delete</md-icon>
          </button>
        </md-card>
        <md-card *ngIf="inAddingRacerMode">
          <md-input [(ngModel)]="addRacerFilterName" (input)="filterAddRacers()" placeholder="Racer name"></md-input>
          <md-card id='filter-names-list' class='filter-names-list'>
            <md-list>
              <md-list-item
                *ngFor='let newRacer of unteamedMatchingRacers'
                (click)='addSpecificRacer(newRacer)'>
                {{newRacer.name}}
              </md-list-item>
            </md-list>
          </md-card>
        </md-card>
        <button md-mini-fab *ngIf="inEditMode" (click)="addRacer()" color='primary' [disabled]='noUnteamedRacers()'>
          <md-icon class='md-24'>add</md-icon>
        </button>
      </div>

      <button md-raised-button color="primary" (click)="editTeam()" *ngIf="!inEditMode">Edit</button>
      <button md-raised-button color="primary" (click)="saveTeam()" *ngIf="inEditMode">Finish</button>
      <button md-raised-button color="warn" (click)="deleteTeam()">Delete</button>
      <button md-raised-button color="primary" (click)="goToTeamTexts(team)">See Texts</button>
    </md-card-content>
  </md-card>
</div>
