.team-card {
  margin: 10px;
}

.full-width {
  width: 100%;
}

.status-update-list-wrapper {
  max-height: 200px;
  overflow-y: scroll;
}

.team-racers-list {
  display: flex;
  margin: 10px;
  align-items: center;

  md-card {
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 12px;
  }

  /deep/ md-card-content {
    margin: 0;
  }
}

#filter-names-list.filter-names-list {
  position: absolute;
  top: 60px;
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
}
