.texts-by-team.master-detail
  .teams-list.master
    mat-nav-list
      a(mat-list-item, *ngFor='let team of teams | orderBy: "+id" ',
      [routerLink]='getTeamLink(team)',
      routerLinkActive='selected')
        div(mat-list-avatar)
          h1.team-number([ngStyle]='{"background-color": team.color}') {{team.id}}
        h3(mat-line, [ngClass]='{unread: numberUnreadMessagesForTeam(team)}') ({{numberUnreadMessagesForTeam(team)}}) {{team.name}}
        p(mat-line) {{team.getPrettyRacersList()}}
  texts-list([texts]='selectedTeamTexts', [display]='displayOptions')

