.user-list-wrapper
  mat-tab-group
    mat-tab(label='List')
      .user-cards
        mat-card.user-card(*ngFor='let user of users | orderBy: "+username"')
          table
            tr
              th Username
              td
                mat-input-container
                  input(mdInput, [(ngModel)]='user.username', [disabled]='!isEditingUser(user)')
            tr
              th Name
              td
                mat-input-container
                  input(mdInput, [(ngModel)]='user.name', [disabled]='!isEditingUser(user)')
            tr
              th Email
              td
                mat-input-container
                  input(mdInput, type='email', [(ngModel)]='user.email', [disabled]='!isEditingUser(user)')
            tr
              th Phone
              td
                phone-widget([number]='user.phone', [edit]='isEditingUser(user)')
            tr
              th Role
              td
                mat-input-container
                  input(mdInput, [(ngModel)]='user.role', [disabled]='!isEditingUser(user)')
            tr
              th Privilege Level
              td(*ngIf='!isEditingUser(user)') {{prettyLevelName(user.level)}}
              td(*ngIf='isEditingUser(user)')
                mat-select([(ngModel)]='user.level')
                  mat-option(*ngFor='let enum of privilegesEnum | keys',
                    [value]='getLevelValue(enum)',
                    [disabled]='isLevelDisabled(enum)')
                    | {{prettyLevelName(enum.key)}}
          mat-card-actions
            button(mat-button, [disabled]='!canModify(user)', (click)='deleteUser(user.username)') Delete
            |  
            button(mat-button, [disabled]='!canModify(user)', (click)='editUser(user)', *ngIf='!isEditingUser(user)') Edit
            |  
            button(mat-button, [disabled]='!canModify(user)', (click)='saveUser()', *ngIf='isEditingUser(user)') Save
            |  
            button(mat-button, [disabled]='!canModify(user)', (click)='stopEditingUser()', *ngIf='isEditingUser(user)') Cancel
            |  
            button(mat-button, [disabled]='!canModify(user)', (click)='resetPassword(user)') Reset Password
    mat-tab(label='Add')
      .register-wrapper
        mat-card.register-card
          mat-card-title  Create new
          mat-card-content
            form.form([formGroup]='form', (ngSubmit)='onSubmit()', #registerForm='ngForm')
              table
                tr
                  th Username
                  td
                    mat-input-container
                      input(mdInput, formControlName='username')
                tr
                  th Name
                  td
                    mat-input-container
                      input(mdInput, formControlName='name')
                tr
                  th Email
                  td
                    mat-input-container
                      input(mdInput, type='email', formControlName='email')
                tr
                  th Phone
                  td
                    phone-widget
                tr
                  th Role
                  td
                    mat-input-container
                      input(mdInput, formControlName='role')
                button(mat-raised-button, color='primary', type='submit') Register
            table
              tr
                th Privilege Level
                td
                  mat-select([(ngModel)]='selectedLevel')
                      mat-option(*ngFor='let enum of privilegesEnum | keys',
                        [value]='getLevelValue(enum)',
                        [disabled]='isLevelDisabled(enum)')
                        | {{prettyLevelName(enum.key)}}
    mat-tab(label='Add from CSV')
      .bulk-register-wrapper
        mat-card.bulk-register-card
          mat-card-title Bulk registration
          mat-card-content
            h3 Import
            input(type='file', (change)='bulkRegisterFileEvent($event)')
            table(*ngIf='bulkUsers')
              thead
                tr
                  th Username
                  th Name
                  th Email
                  th Phone
                  th Role
                  th Privilege Level
                  th Create?
              tbody
                tr(*ngFor='let user of bulkUsers') 
                  td {{user.username}}
                  td {{user.name}}
                  td {{user.email}}
                  td
                    phone-widget([number]='user.phone')
                  td {{user.role}}
                  td
                    mat-select([(ngModel)]='user.level')
                      mat-option(*ngFor='let enum of privilegesEnum | keys',
                        [value]='getLevelValue(enum)',
                        [disabled]='isLevelDisabled(enum)')
                        | {{prettyLevelName(enum.key)}}
                  td
                    button(mat-raised-button, color='primary', (click)='createUser(user)', [disabled]='usernameExists(user.username)') Create
