<h1>User List</h1>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Privilege Level</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of users'>
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{prettyLevelName(user.level)}}</td>
      <td><button md-button (click)='deleteUser(user.username)'>Delete</button></td>
    </tr>
  </tbody>
</table>
<div class='register-wrapper'>
  <md-card class='register-card'>
    <md-card-title>
      Create new
    </md-card-title>
    <md-card-content>
      <form [formGroup]='form' (ngSubmit)='onSubmit()' #registerForm='ngForm' class='form'>
        <md-input formControlName='username' required placeholder='Username'></md-input>
        <md-input formControlName='password' required placeholder='Password' type='password'></md-input>
        <md-input formControlName='name' required placeholder='Name'></md-input>
        <md-input formControlName='email' required placeholder='Email' type='email'></md-input>
        <md-input formControlName='phone' required placeholder='Phone number'></md-input>
        <button md-raised-button color='primary' type='submit'>Register</button>
      </form>
      <md-select [(ngModel)]='selectedLevel'>
        <md-option *ngFor='let item of privilegesEnum | keys' [value]='item.key' [disabled]='isLevelDisabled(item.key)'>{{prettyLevelName(item.key)}}</md-option>
      </md-select>
    </md-card-content>
  </md-card>
</div>
