<div class='user-cards'>
  <md-card class='user-card' *ngFor='let user of users'>
    <div *ngIf='!isEditingUser(user)'>
      <table>
        <tr>
          <th>Username</th>
          <td>{{user.username}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th>Role</th>
          <td>{{user.role}}</td>
        </tr>
        <tr>
          <th>Privilege Level</th>
          <td>{{prettyLevelName(user.level)}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf='isEditingUser(user)'>
      <table>
        <tr>
          <th>Username</th>
          <td><md-input [(ngModel)]='user.username'></md-input></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><md-input [(ngModel)]='user.name'></md-input></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><md-input type='email' [(ngModel)]='user.email'></md-input></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><md-input [(ngModel)]='user.phone'></md-input></td>
        </tr>
        <tr>
          <th>Role</th>
          <td><md-input [(ngModel)]='user.role'></md-input></td>
        </tr>
        <tr>
          <th>Privilege Level</th>
          <td>
            <md-select [(ngModel)]='user.level'>
              <md-option *ngFor='let item of privilegesEnum | keys' [value]='item.key' [disabled]='isLevelDisabled(item.key)'>{{prettyLevelName(item.key)}}</md-option>
            </md-select>
          </td>
        </tr>
      </table>
    </div>
    <md-card-actions>
      <button md-button [disabled]='!canModify(user)' (click)='deleteUser(user.username)'>Delete</button>
      <button md-button [disabled]='!canModify(user)' (click)='editUser(user)' *ngIf='!isEditingUser(user)'>Edit</button>
      <button md-button [disabled]='!canModify(user)' (click)='saveUser()' *ngIf='isEditingUser(user)'>Save</button>
      <button md-button [disabled]='!canModify(user)' (click)='stopEditingUser()' *ngIf='isEditingUser(user)'>Cancel</button>
      <button md-button [disabled]='!canModify(user)' (click)='resetPassword(user)'>Change Password</button>
    </md-card-actions>
  </md-card>
</div>
<div class='register-wrapper'>
  <md-card class='register-card'>
    <md-card-title>
      Create new
    </md-card-title>
    <md-card-content>
      <form [formGroup]='form' (ngSubmit)='onSubmit()' #registerForm='ngForm' class='form'>
        <md-input formControlName='username' required placeholder='Username'></md-input>
        <md-input formControlName='password' required placeholder='Password' type='password'></md-input>
        <md-input formControlName='name' required placeholder='Name'></md-input>
        <md-input formControlName='email' required placeholder='Email' type='email'></md-input>
        <md-input formControlName='phone' required placeholder='Phone number'></md-input>
        <md-input formControlName='role' required placeholder='Role'></md-input>
        <button md-raised-button color='primary' type='submit'>Register</button>
      </form>
      <md-select [(ngModel)]='selectedLevel'>
        <md-option *ngFor='let item of privilegesEnum | keys' [value]='item.key' [disabled]='isLevelDisabled(item.key)'>{{prettyLevelName(item.key)}}</md-option>
      </md-select>
    </md-card-content>
  </md-card>
</div>
