.login-wrapper
  md-card.login-card
    md-card-title  Login
    md-card-content
      form.form([formGroup]='form', (ngSubmit)='onSubmit()')
        md-input-container
          input(mdInput, formControlName='username', required, placeholder='Username')
        md-input-container
          input(mdInput, formControlName='password', required, placeholder='Password', type='password')
        p.login-error(*ngIf='loginError') {{getLoginErrorMessage()}}
        |  
        button(md-raised-button, color='primary', type='submit') Login

