<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <title><%= htmlWebpackPlugin.options.metadata.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <%= htmlWebpackPlugin.files.webpackManifest %>

<style>

body {
  margin: 0;
  height: 100vh;
}

.loading-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loading-box {
  padding: 20px;
}

.loading-icon {
  height: 100px;
}

.loading-text {
  text-align: center;
  font-family: Roboto, sans-serif;
}

</style>

</head>

<body>

  <app>
    <div class='loading-wrapper'>
      <div class='loading-box'>
        <img class='loading-icon' src='<%= htmlWebpackPlugin.options.metadata.appLogoSrc %>'>
        <div class='loading-text'>
          Loading...
        </div>
      </div>
    </div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>




</body>
</html>
