.texts-by-racer.master-detail
  .racers-list.master
    mat-nav-list
      a(mat-list-item, *ngFor='let racer of racers | orderBy: "+name" ',
      [routerLink]='getRacerLink(racer)',
      routerLinkActive='selected')
        h3(mat-line)  ({{numberUnreadMessagesForRacer(racer)}}) {{racer.name}}
  texts-list([texts]='selectedRacerTexts', [display]='displayOptions', *ngIf='selectedRacerTexts')
