texts-list {
  flex: 1;
  //overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.master-detail {
  flex: 1;
  display: flex;
  .master {
    width: 300px;
    overflow-y: scroll;
    background-color: white;
  }

  .detail {
    flex: 1;
    overflow-y: scroll;
  }
}

/deep/ .md-list-item:hover {
  background-color: lightgrey;
}

/deep/ .md-list-item.selected {
  background-color: #EEEEEE;
}
