<div class='texts-by-racer master-detail'>
  <div class='racers-list master'>
    <md-list>
      <md-list-item *ngFor="let racer of racers" (click)='selectTextsByRacer(racer)'>
        <img md-list-avatar src="http://blogs-images.forbes.com/kristintablang/files/2016/02/Uber-Puppies.jpg">
        <h3 md-line> {{racer.name}}</h3>
      </md-list-item>
    </md-list>
  </div>
  <div class='texts-by-racer-list detail' *ngIf="selectedRacerTexts">
    <div class='text-card' *ngFor="let text of selectedRacerTexts">
      <md-card>
        <md-card-header>
          <md-card-title>
            <div>{{text.from}}</div>
            <div>{{text.getPrettyTimestamp()}}</div>
          </md-card-title>
        </md-card-header>
        <md-card-content>
          {{text.body}}
        </md-card-content>
        <md-card-actions>
          <button md-button>RESPOND</button>
          <md-checkbox>
            Read
          </md-checkbox>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
