<md-card [ngClass]='getCardClass()'>
  <md-card-header>
    <img md-card-avatar src="http://www.eastcottvets.co.uk/uploads/Animals/gingerkitten.jpg">
    <md-card-title>
      <b md-row>{{team.name}}</b>
      <div class='safety-team-flag'>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Flag_of_Europe.svg" *ngIf="team.inEurope">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png" *ngIf="!team.inEurope">
      </div>
    </md-card-title>
    <md-card-subtitle>
      <i>{{team.getPrettyRacersList()}}</i>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <h3 *ngIf='team.lastCheckin'>Last checkin</h3>
    <time-widget [time]='team.lastCheckin.checkinTime' [fromNow]='true'></time-widget>
    by {{team.lastCheckin.byUser.user.name}}
    at <time-widget [time]='team.lastCheckin.byUser.timestamp'></time-widget>
    <h3>Last update</h3>
    <table class='last-update' *ngIf="team.getLastUpdate()">
      <tr>
        <th>Time:</th>
        <td>
          <time-widget [time]='team.getLastUpdate().timestamp'></time-widget>
        </td>
      </tr>
      <tr>
        <th>Status:</th>
        <td>
          {{team.getLastUpdate().prettyStatusName()}}
        </td>
      </tr>
      <tr>
        <th>Location:</th>
        <td>
          <location-widget [location]='team.getLastUpdate().location'></location-widget>
        </td>
      </tr>
      <tr>
        <th>Notes:</th>
        <td>
          {{team.getLastUpdate().notes}}
        </td>
      </tr>
      <tr *ngIf='team.getLastUpdate().byUser'>
        <th>Added</th>
        <td>
          by {{team.getLastUpdate().byUser.user.name}}
          <time-widget [time]='team.getLastUpdate().byUser.timestamp'></time-widget>
        </td>
      </tr>
    </table>
    <div *ngIf="!team.getLastUpdate()">
      <b>Team has no updates</b>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)='goToTeamTexts()'>TEXTS</button>
    <button md-button>UPDATE STATUS</button>
    <button md-button (click)='checkInTeam()'>ADD CHECKIN</button>
  </md-card-actions>
</md-card>
