md-card(class='dashboard-card', [ngClass]='getCardClass()')
  md-card-header
    div(md-card-avatar)
      h1.team-number([ngStyle]='{"background-color": team.color}') {{team.id}}
    button(md-icon-button, (click)='toggleBig()')
      md-icon(*ngIf='isBig') expand_less
      md-icon(*ngIf='!isBig') expand_more
    md-card-title
      b(md-row) {{team.name}}
      .safety-team-flag
        img(src='/assets/img/EU.svg', *ngIf='team.inEurope' title='Team is in Europe')
        |  
        img(src='/assets/img/UK.svg', *ngIf='!team.inEurope' title='Team is in the UK')
      md-icon([title]='getStatusName()') {{getStatusIcon()}}
    md-card-subtitle
      i {{team.getPrettyRacersList()}}
  md-card-content
    h3(*ngIf='isBig') Notes
    div(*ngIf='isBig')
      | {{team.notes}}
    div(*ngIf='isBig && teamHasCheckedIn()')
      h3 Last checkin
      time-widget([time]='team.lastCheckin.checkinTime', [fromNow]='true')
      |  by
      user-widget([user]='team.lastCheckin.byUser.user')
      |  at
      time-widget([time]='team.lastCheckin.byUser.timestamp')
    div(*ngIf='teamHasCheckedIn()')
      md-progress-bar(mode='determinate',
        [color]='checkinProgressBarColor()',
        [title]='checkinProgressBarTitle()',
        [value]='checkinProgressBarValue()')
      div(*ngIf='getOverdueTime()')
        b {{getOverdueTime().humanize()}} overdue!
    div(*ngIf='!teamHasCheckedIn()')
      h3 Team has not checked in!
    div(*ngIf='isBig && team.getLastUpdate()')
      h3 Last update
      table.last-update(*ngIf='team.getLastUpdate()')
        tr
          th Time:
          td
            time-widget([time]='team.getLastUpdate().timestamp')
        tr
          th Status:
          td  {{team.getLastUpdate().prettyStatusName()}}
        tr
          th Location:
          td
            location-widget([location]='team.getLastUpdate().location')
        tr
          th Notes:
          td  {{team.getLastUpdate().notes}}
        tr(*ngIf='team.getLastUpdate().byUser')
          th Added
          td
            | by 
            user-widget([user]='team.getLastUpdate().byUser.user')
            time-widget([time]='team.getLastUpdate().byUser.timestamp')
    div(*ngIf='isBig && !team.getLastUpdate()')
      b Team has no updates
  md-card-actions(*ngIf='isBig')
    button(md-button, (click)='goToTeamTexts()') Texts
    |  
    button(md-button, (click)='goToTeamUpdates()') Updates
