.team-danger {
  background-color: red;
}

.team-on-bus {
  background-color: lightgrey;
}

.team-in-city {
  background-color: gold;
}

.team-dropped-out {
  background-color: lightblue;
}

.team-in-hostel {
  background-color: limegreen;
}

.team-asleep {
  background-color: #e2aae2;
}

.team-overdue {
  background-color: orange;
}

.team-maybe-late {
  background-color: cyan;
}

.team-error {
  background-color: grey;
}

md-card-title {
  display: flex;

  b {
    flex: 1;
  }

  .safety-team-flag {
    height: 20px;

    img {
      height: 100%;
    }
  }
}


/deep/ .md-card-header-text {
  flex: 1;
}

.last-update {
  width: 100%;
}

.dashboard-card {
  flex: 1;
  width: 300px;
}

.team-number {
  margin: 0;
  background-color: #EEE;
  text-align: center;
  border-radius: 100%;
  border: 2px solid black;
}
